.CuadroPartido{
    background-color: aliceblue;
    min-height: 96px;
    min-width: 180px;
    display: block;
    margin: 10px 0px 0px 10px;
    position: inherit;
    border-left: 3px solid blue;
    padding: 0px 10px 12px;
    justify-content: flex-start;
    
}
.CuadroPartido:hover{
    background-color: rgb(182, 221, 255);
    height: 96px;
    min-width: 180px;
    display: block;
    margin: 10px 0px 0px 10px;
    position: inherit;
    border-left: 3px solid blue;
    padding: 0px 12px 12px;
}
.CuadroPartido hr{
    color: aliceblue;
}
.CuadroPartido h4{
    font-size: 0.7rem;
    color: rgb(145, 145, 145);
    margin-left: 4px;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 6px;
}
.equipo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0px 0px;
    
}
.equipo p{
    font-size: 1.0rem;
    margin: 2px 4px;
}
.equipo-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 4px;
}
.equipo-footer p{
    font-size: 0.7rem;
    color: gray;
    margin: 0;
}