.CuadroPartidoTerminado{
    background-color: aliceblue;
    height: 96px;
    min-width: 180px;
    display: block;
    margin: 10px 0px 10px 10px;
    position: inherit;
    border-left: 3px solid red;
    padding: 0px 12px 12px;
}
.CuadroPartidoTerminado:hover{
    background-color: rgb(182, 221, 255);
    height: 96px;
    min-width: 180px;
    display: block;
    margin: 10px 0px 10px 10px;
    position: inherit;
    border-left: 3px solid red;
    padding: 0px 10px 12px;
}
.CuadroPartidoTerminado hr{
    color: aliceblue;
}
.CuadroPartidoTerminado h4{
    font-size: 0.7rem;
    color: rgb(145, 145, 145);
    margin-left: 4px;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 6px;
}
.equipo-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 4px;
}
.equipo-footer p{
    margin: 0;
}