.CuadroPartidoTerminado{
    background-color: aliceblue;
    height: 116px;
    min-width: 200px;
    display: block;
    margin: 10px 0px 10px 10px;
    position: inherit;
    border-left: 3px solid red;
    padding: 10px 20px 20px;
}
.CuadroPartidoTerminado:hover{
    background-color: rgb(182, 221, 255);
    height: 116px;
    min-width: 200px;
    display: block;
    margin: 10px 0px 10px 10px;
    position: inherit;
    border-left: 3px solid red;
    padding: 10px 20px 20px;
}
.CuadroPartidoTerminado hr{
    color: aliceblue;
}
.CuadroPartidoTerminado h4{
    font-size: 0.9rem;
    color: rgb(83, 83, 83);
    margin-left: 8px;
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 4px;
}
.equipo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
}
.equipo-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 4px;
}
.equipo-footer p{
    margin: 0;
}