.CuerpoListaEquipos{
    background-color: aliceblue;
    padding: 8px 8px 14px;
    margin-top: 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.CuerpoListaEquipos p{
    width: 40px;
    font-size: 2rem;
    padding: 0px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}


.InfoLista h1{
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
}
.InfoLista h3{
    color: rgb(138, 136, 136);
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
}