.CuerpoPerfilEquipo{
    min-height: 100vh;
}
.ContainerTopEquipo{
    margin-top: 0px;
    background-color: rgb(98, 179, 255);
    min-height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 50px 0px 20px 0px;
    border-bottom: 1px solid rgb(168, 168, 168);
}
.FotoPerfilEquipo{
    background-image: url(https://cdn-icons-png.flaticon.com/512/25/25437.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 10px;
    border: 1px solid gray;
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.InfoPerfilEquipo{
    margin-left: 20px;
}
.InfoPerfilEquipo p{
    margin-top: -10px;
    font-size: 1.1em;
}
.TituloHistorialEquipoVista{
    margin: 20px 15px 5px 20px;
    color: rgb(36, 36, 36);
}
.JugadoresEquipoVista{
    padding: 0px 20px;
    background-color: aliceblue;
    margin: 16px 16px 16px 16px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    
}
.JugadoresEquipoVista > div:nth-of-type(2) {
    order: -1;
}

.JugadorEquipoVistaComp{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    width: 50%;
    padding: 0px 10px;
    border: 1px solid gray;
    margin: 4px;
}
.FotoPerfilJugador{
    background-image: url(https://img.freepik.com/vector-premium/icono-avatar-masculino-persona-desconocida-o-anonima-icono-perfil-avatar-predeterminado-usuario-redes-sociales-hombre-negocios-silueta-perfil-hombre-aislado-sobre-fondo-blanco-ilustracion-vectorial_735449-120.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid gray;
    min-width: 50px;
    min-height: 50px;
}
.NombreJugador p{
    font-size: 0.8rem;
    padding-left: 6px;
    margin: 4px 8px;
}