.ContainerTopCampeonato{
    background-color: rgb(98, 179, 255);
    display: flex;
    justify-content: flex-start;
    padding: 50px 0px 10px 0px;
    border-bottom: 1px solid rgb(129, 129, 129);
}
.FotoPerfilCampeonato{
    min-height: 120px;
    min-width: 120px;
    height: 100%;
    width: auto;
    background-color: aliceblue;
    margin-top: 100px;
    margin-left: 10px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
}
.InfoPerfilCampeonato{
    margin: 50px 40px;
}
.NombreCampVista{
    font-size: 1.4em;
}
.InfoCampVista{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.InfoCampVista div p{
    font-size: 0.8em;
}